# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
*.exe

# Mex
*.mexa64

# Archive
*.rar
*.tar

# Editor
*.~
*.sw?

# Java
*.class
*.classpath
*.jar
*/doc/
*/bin/

